/* desktop view */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.flex-container .box {
    flex-basis: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff624f;
    color: white;
    margin: 28px;
    font-size: 28px;
    padding: 28px;
}

/* mobile view */
@media screen and (min-width: 576px) {
    .flex-container1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }
    
    .flex-container1 .box {
        background-color: #ff624f;
        flex-basis: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin: 50px;
        font-size: 50px;
        padding: 60px;
    }
    
}
