h1{
    font-family: 'Poppins', sans-serif;
    color: #f20b0b
}

h2,
h3,
h4{
    font-family: 'Edu TAS Beginner', cursive;
    color: #f412f4
}

ul{
    font-family: 'Nunito', sans-serif;
    color: rgb(0, 0, 0)
}
a:link { /* unvisited link */ color: cadetblue; }
a:visited { /* visited link */ color: steelblue; }
a:hover { /* moused over link */ color: cornflowerblue; }
a:active { /* current link */ color: darkorchid; }
a:focus { /* focused link */ color: violet; }
